@font-face {
  font-family: "vazir";
  src: url("../fonts/vazir.eot") format("eot"),
    url("../fonts/vazir.ttf") format("truetype"),
    url("../fonts/vazir.woff") format("woff2"),
    url("../fonts/vazir.woff2") format("woff");
}

body {
  font-family: 'vazir';
  direction: rtl;
  margin: 0%;
  padding: 0%;

  
}
a {
  text-decoration: none;
}
.container2 {
  width: 1400px;
  margin: auto;
}
.row {
  display: flex;
}

.respons{
  width: 20%;
  display: none;
}

#responsoldbook{
  display: none;
}
/*hreder start..............................................................................................*/
/*font start...................................................................................................*/
@font-face {
  font-family: 'vazir';
  src: url('../fonts/vazir.eot') format('eot'),
       url('../fonts/vazir.ttf')  format('truetype'),
       url('../fonts/vazir.woff') format('woff2'),
       url('../fonts/vazir.woff2') format('woff'),
  
}
/*font start...................................................................................................*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}

body {
  line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
  display:block;
}

nav ul {
  list-style:none;
}

blockquote, q {
  quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content:'';
  content:none;
}

a {
  margin:0;
  padding:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}

ins {
  background-color:#ff9;
  color:#000;
  text-decoration:none;
}

 
del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom:1px dotted;
  cursor:help;
}

table {
  border-collapse:collapse;
  border-spacing:0;
}

hr {
  display:block;
  height:1px;
  border:0;   
  border-top:1px solid #cccccc;
  margin:1em 0;
  padding:0;
}

input, select {
  vertical-align:middle;
}
body{
  font-family: 'vazir';
  direction: rtl;
}
.navbar{
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
 font-size: 20px;
 
 

}
header{
  width: 100%;
  position: relative;
  background-image: url(../project/image/little3.jpg);
  background-size: cover;
  -webkit-background-size:cover;
  -moz-background-size:cover ;
  text-align: center;
  color: #fff;
  height: 60px;
}
.titr{
  position: absolute;
  top:30%;
  right: 0;
  left: 0%;
  color: #fff;

  text-align: center;
}
header .titr h1{
    margin-top: 100px;
  font-size: 50px;
}
header .titr p{
  font-size: 40px;
}
.navbar-light .navbar-nav .active > .nav-link{
  color: #fff;
}

  /*header end...................................................................................................*/
.single-header{
  width: 100%;
  background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)) , url('../images/footer.jpg');
  background-position: center;
  background-size: cover;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.single-header svg{
  font-size: 250px;
  color: rgb(35, 35, 129);
}

#single-content{
  padding: 80px 0;
}


#single-content .single-content{
  width: 100%;
  
  display: flex;
 justify-content: space-between;
}

#single-content #main-content{
  background: #fff;

  padding: 10px;
  box-sizing: border-box;
  box-shadow: 1px 1px 10px rgba(158, 158, 158, 0.5);
}

#single-content #main-content .main-title{
  width: 100%;
  display: flex;
  justify-content: space-between;

}

#single-content #main-content .main-title h3{
  color: rgb(35, 35, 129);
}

#single-content #main-content .main-title .main-date{
  display: flex;
}
#single-content #main-content .main-title .main-date h5{
  margin: 0 10px;
}

#single-content #main-content .main-title .main-date h5 svg{
  color: rgb(35, 35, 129);
  margin-left: 5px;
}


#single-content #main-content .main-description{
  width: 100%;
  margin-top: 50px;
  text-align: right;
}

#single-content #main-content .main-description p{
  margin-top: 30px;
  line-height: 25px;
}

#single-content #main-content .main-description ul{
  display: flex;
  margin-top: 30px;
}
#single-content #main-content .main-description ul h4{
  margin-left: 10px;
}

#single-content #main-content .main-description ul li{
  margin-left: 10px;
}

#single-content #main-content .main-description ul li a{
  color: #000;
}

#single-content #main-content .main-description ul li:hover a{
  color: rgb(35, 35, 129);
}
#single-content #main-content .main-description img{
  width: 100%;
}


#single-content #main-content .main-description .comment{
  width: 100%;
  margin-top: 50px;
  border: 1px solid #cfcfcf;
  padding: 10px;
  box-sizing: border-box;
}

#single-content #main-content .main-description .comment .comment-item{
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
}
#single-content #main-content .main-description .comment .comment-item .comment-item-desc{
  width: 80%;
}

#single-content #main-content .main-description .comment .comment-item img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}


#single-content #main-content .main-description .comment .comment-replay{
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  margin-right: 80px;
  border: 1px solid rgb(35, 35, 129);
  margin-top: 30px;
}
#single-content #main-content .main-description .comment .comment-replay .comment-item-replay{
  width: 80%;
}

#single-content #main-content .main-description .comment .comment-replay img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}




#single-content #main-content .main-description form{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 50px;
}



#single-content #main-content .main-description form input{
  width: 32.33%;
  padding: 10px;
  box-sizing: border-box;
  font-family: 'vazir';
  border: 1px solid #c4c4c4;
  outline: none;

}


#single-content #main-content .main-description form textarea{
  font-family: 'vazir';
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #c4c4c4;
  height: 100px;
  resize: none;
  outline: none;

}

#single-content #main-content .main-description form input[type=submit]{
  background: rgb(35, 35, 129);
  margin: 30px auto;
  color: #fff;
  border: none;
  cursor: pointer;
}

#single-content #sidebar{
  
  background: #fff;
  box-shadow: 1px 1px 10px rgba(158, 158, 158, 0.5);

}


#single-content #sidebar .sidebar-item{
  width: 100%;
 
  box-sizing: border-box;
}

#single-content #sidebar .sidebar-item h3{
  padding-bottom: 10px;
  position: relative;
  text-align: center;
}
#single-content #sidebar .sidebar-item h3::before{
  content: '';
  position: absolute;
  width: 140px;
  height: 2px;
  background: rgb(35, 35, 129);
  bottom: -10px;
}
#single-content #sidebar .sidebar-item ul{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 40px;
}

#single-content #sidebar .sidebar-item ul li{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
  border-bottom: 1px solid rgb(35, 35, 129);
  padding-bottom: 10px;
}

#single-content #sidebar .sidebar-item ul li a{
  color: #000;
}

#single-content #sidebar .sidebar-item ul li span{
  color: rgb(35, 35, 129);
  font-size: 13px;
}

#single-content #sidebar .sidebar-item ul li span svg{
  margin-left: 5px;
}
  
/*footer start.....................................................................................................*/

  .imgdiv{
    margin: 80px;
    display: flex;
    
  
  }
  .maimsection1{
    width: 80%;
    height: 603px;
    border-radius: 5px;
    box-shadow: 5px 5px gray;
   
  }
 
  /*respons start..............................................................................................*/
@media screen and (max-width: 1400px) {
  .container{
      width: 90%;
  } 
  header nav ul li{
     margin-left: 5px;
 }
 #mainSection .book h1{
     margin-top: 100px;
 }
 #mainSection .book p{
     width: 90%;
 }
 
}

@media screen and (max-width: 1200px) {
 #mainSection{
     height: 400px;
 }
 #mainSection .book h1{
     margin-top: 70px;
 }

}


}

/*respons end..............................................................................................*/
/*contact us start...............................................................................*/
.comtact-us{
  width: 100%;
}
.contact-us .contact-img{
  background: url(../image/contact-bg.jpg);
  background-repeat: no-repeat;
  width: 100%;
  padding: 200px 0;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-us .contact-img .title-img h4{
  margin-bottom: 30px;
  position: relative;
  padding-bottom: 10px;
  font-weight: bold;
}
.contact-us .contact-form{
  align-items: center;
  text-align: justify;
}
.contact-us .contact-img .title-img h4::before{
  content: "";
  position: absolute;
  bottom: 0px;
  width: 50px;
  height: 2px;
  background-color: rgb(35, 35, 129);
}
.box {
  height: 270px;
  width: 250px;
  margin: 10px 0px;
  background-color: rgb(53, 53, 161);
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}
.contact-info .maindiv-info{
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding: 200px 0px;
  width: 1110px;
}
.contact-info .maindiv-info h3{
text-align: center;
padding: 20px;
font-weight: bold;
color: rgba(0, 0, 0, .7);
}
.contact-info .maindiv-info p{
  text-align: center;
  font-weight: bold;
  
}
.contact-info .maindiv-info .icon-info{
  display: flex;
  text-align: center;
  align-items: center;
}
.contact-info .maindiv-info .icon-info img{
 justify-content: space-between;
 align-items: center;
  width: 50px;
  height: 50px;
  margin-right: 100px;
  margin-top: 30px;
  cursor: pointer;

}
.contact-info .maindiv-info .icon-info img:hover{
  width: 80px;
  height: 80px;
}

/*contact us end...............................................................................*/

 /*footer start...........................................................................................*/
.footer{
  padding: 50px 0px;
  display: flex;
  width: 100%;
  background-color: #343a40;
}
.mrm {
  justify-content: space-between;
  
  height: 300px;
  align-items: center;
border-right: 1px solid;
}

.bi{
  color: black;
}
.bi:hover{
  height: 35px;
  width: 35px;
  color: red;
}
.copy-icon{
  width: 100%;
  height: 30px;
  align-items: center;
  
  z-index: 1;
}

.mrmb{
  text-align: center;
align-items: center;
padding: 5px ;
}
.about-footer h2{
  text-align: center;
  font-size: 40px;
  color: black;
}
.about-footer p{
  font-size: 20px;
  text-align: justify;
  color: black;
}
.footer-h1{
  font-size: 25px;
  color: black;
}
